body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    padding-top: 90px;
    vertical-align: middle;
    line-height: 1;
}

.jumbotron {
    text-align: center;
    background-color: teal;
    color: white;
    border-radius: 0;
    border-top: 10px solid #add8e6;
    border-bottom: 10px solid #add8e6;
}

input {
    background: transparent;
    border: none;
    padding-left: 3px;
}

.col-md-1,
.col-md-2,
.col-md-9 {
    padding: 0;
}

#container {
    background-color: teal;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 40px;
    border-radius: 20px;
    border: 10px solid #add8e6;
}

.scheduleRow {
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 15px;
}

.timeBox {
    background-color: pink;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    display: inline-block;
    font-size: 2em;
}

.dailyPlan {
    color: black;
    font-size: 12pt;
    height: 100%;
    width: 100%;
}

.dailyPlan:hover {
    background: #cce5ff;
    color: white;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.saveIcon {
    color: white;
    font-size: 2em;
    padding: 40%;
    width: 100%;
    height: 100%;
}

.saveIcon:hover {
    transition: all .2s ease-in-out;
    color: navy;
    cursor: pointer;
}

.save_column {
    background-color: #add8e6;
    border-radius: 0px 15px 15px 0px;
}